/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body 
{
     background: rgb(0, 91, 139);
     display: flex;
     flex-direction: column;
     align-items: center;
}

a,h1,button
{
     font-family:Arial, Helvetica, sans-serif
}

.container
{
     display: flex;
}

.searchbar, header, #selectedRecipe
{
     justify-content: center;
     width: 80%;
}
.drinkText
{
     justify-content: left;
     align-items: center;
}

.drinkText p
{
     text-align: left;
     padding: 0 1rem;
     color: white;
}

.drinkThumb
{
     justify-content: right;
     align-items: center;
}

.drink div
{
     width: 50%;
}

.thumbnail
{
     height: 12rem;
     padding: 1rem 1rem;
}

#resultsSection
{
     background: darkslategray;
     border-radius: 2rem;
     margin-top: 1rem;
}

#resultsSection > div:nth-of-type(2n)
{
     background-color: slategray;
}

#resultsSection > div:last-of-type
{
     border-bottom-left-radius: 2rem;
     border-bottom-right-radius: 2rem;
}

#selectedRecipe
{
     flex-direction: column;
     align-items: center;
     background: steelblue;
     margin-top: 1rem;
     border-radius: 2rem;
}
#selectedRecipe div > p
{
     padding: 0 1rem;
     text-align: center;
}

/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
